								
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.barra-arriba
{
background-color:#AE5CD9;
border-bottom:   black;
height:          auto;
margin-top:      0vh;
padding:         10px 10px 10px 10px;
padding-left:    0px;
padding-bottom:  5px;
position:        fixed;
width:           100%;
}

.nombre-appasom
{
color:           #FFFFFF;		
font-size:       18px;
text-align:      left;
margin-left:     7.5px;
}	

.nombre-tienda
{
border:          0px solid black;
border-radius:   5px;
border-bottom:   0px;
border-top:      2px solid transparent;
border-left:     0px;
border-right:    0px;
background-color:white;
color:           black;
font-size:       15.5px; 
text-align:      left;
padding:         5px 5px 5px 5px;
padding-left:    10px;
margin-right:    0px;
margin-left:     5px;
margin-bottom:   7px;
margin-top:      7.5px;
}

div.contenedor-3-botones
{
background-color:#AE5CD9;
border-bottom:   1.5px solid #AE5CD9;
display:         inline;
height:          auto;
margin-top:      14vh;
padding:         10px, 10px, 10px, 10px;
padding-left:    0px;
padding-bottom:  10px;
padding-top:     10px;
position:        fixed;
text-align:      left;
width:           100%;
}	

.b3-1
{
display:         inline;	
color:           white;
font-size:       13px;
margin-left:     7.5px;
margin-right:    20px;
}

.b3-2
{
background-color:white;	
border:          1px solid white;
border-radius:   5px;
display:         inline;	
color:           black;
font-size:       13px;
padding-bottom:  0px;
padding-left:    3px;
padding-right:   3px;
padding-top:     3px;
margin-left:     0px;
margin-right:    20px;
}	

.b3-3
{
background-color:white;	
border:          1px solid white;
border-radius:   5px;	
display:         inline;	
color:           black;
font-size:       13px;
padding-bottom:  0px;
padding-left:    3px;
padding-right:   3px;
padding-top:     3px;
margin-left:     0px;
margin-right:    0px;
}	

a{
text-decoration: none;          	
}

div.separador_
{
margin-top:      20vh;	
}	

.texto-1
{
color:            black;
font-size:        14px;
margin-top:       20px;
margin-left:      10px;
margin-right:     10px;
}	

div.contenedor-p
{
background-color:#AE5CD9;	
border:          2px solid white;
border-radius:   5px;
height:          auto;
margin-top:      15px;
margin-left:     0.5%;
margin-right:    0.5%;
padding:         7.5px 7.5px 7.5px 7.5px;
width:           99%;
}	

div.contenedor-producto
{
background-color:white;
border:          1px solid transparent;
border-radius:   5px;
height:          auto;
margin-top:      5px;
left:            0;
padding:         7.5px 7.5px;
max-width:       100%;
width:           100%;
}

.perfil-de-tienda
{
background-color: white;	
border:           3.5px solid white;
border-radius:    100px;
display:          inline;
float:            right;
height:           55px;
margin-right:     5px;
margin-bottom:    0px;
margin-top:       25px;
width:            55px;
}	

.boton-de-compra
{
background-color: white;	
border:           5px solid white;
border-radius:    100px;
display:          inline;
float:            right;
height:           55px;
margin-right:     5px;
margin-bottom:    0px;
margin-top:       0px;
width:            55px;
}

.texto-comprar
{
color:            #2EB017;
font-size:        14px;
margin-left:      0px;
margin-top:       20px;
}

.nombre-producto
{
border-left:     0px solid #AE5CD9;	
color:            #5D02CC;
font-size:        15px;
padding-left:     1.5px;
margin-left:      0px;
margin-top:       5px;
}
	
.precio{
border-left:     0px solid #AE5CD9;	
color:           #84849E;
font-size:       13px;
padding-left:    1.5px;
	}
	
.spam-precio
{
border-left:     0px solid #AE5CD9;	
color:           #025686;
font-size:       13px;
margin-left:     0px;
padding-left:    1.5px;    
}
	
.pie_pf
{
color:            black;
font-size:        12px;
margin-left:      5px;
margin-right:     5px;
margin-top:       0px;
margin-bottom:    
}

.img_ipf
{
border-radius:    0px 5px 5px 0px;	
height:           auto;
margin-bottom:    1px;
width:            100%;
}

.descripsion
{
background-color:#AE5CD9;
border-radius:   3px 3px 0px 0px;
color:           white;
font-size:       14px;
font-style:      bold;
margin-left:     0px;
margin-right:    0px;
padding-top:     5px; 
padding-left:    5px;
padding-right:   5px;
padding-bottom:  5px;
}	

.img-producto
{
border-radius:    0px 0px 5px 5px;	
height:           auto;
margin-top:       0px;
margin-bottom:    0px;
width:            100%;
}

a
{
text-decoration: none;	
}	

.from
{
font: size: 10px;	
}	

